:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #222;

  --border-color: #dce0e0;
  
  --box-shadow: 0 22px 40px rgba(0, 0, 0, 0.15);

  --height-header: 74px;
  --height-header-mobile: 64px;

  --mobile-breakpoints : 640px;
  --tablet-breakpoints : 768px;
}
